body {
  width: 800px;
  margin: 0 auto;
  background-color: #eee;
  font-family: "Arial", sans-serif;
}

h1 {
  font-size: 36px;
  margin: 0;
}

p {
  font-size: 15px;
}

.photo {
  width: 180px;
  height: 230px;
  background-image: url("avatar.jpg");
  background-size: 180px;
  float: left;
  margin-right: 20px;
  border-radius: 0.5em;
}

.info {
  padding-top: 1em;
  clear: both;
}

.head {
  font-weight: bold;
  font-size: 18px;
}

section {
  width: 900px;
  min-height: 200px;
  margin: 50px auto;
  padding: 20px;
  font-family: "Century Gothic";
  background: #ffffff;
  -webkit-box-shadow: 20px 20px 40px 0px rgba(0,0,0,0.6);
  -moz-box-shadow: 20px 20px 40px 0px rgba(0,0,0,0.6);
  box-shadow: 20px 20px 40px 0px rgba(0,0,0,0.6);
  padding: 50px;
}
